<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Chat App</title>
</head>

<body class="chat">
<div class="chat__sidebar">
    <h3 id="name" ><%=user.name%></h3>
    <div id="users">
        <% users.forEach(user =>{
        %>
            <li id=<%=user._id%> class="userName"  onClick="selectUser(event);" ><%= user.name %></li>
        <% }) %>

    </div>
</div>
<div class="chat__main">
    <div>
        <h3 class="currentFriend"><%=users[0].name%></h3>
    </div>
    <ol id="messages" class="chat__messages">
        <% messages.forEach(message =>{
        %>
        <li class="message">
            <div class="message__title">
                <h4><%= message.from.name %></h4>
                <span>5:47 am</span>
            </div>
            <div class="message__body">
                <p><%= message.message %></p>
            </div>
        </li>
        <% }) %>
    </ol>
    <div class="chat__footer" id=<%=users[0]._id%>>
        <form action="/message" method="post" id="message-form">
            <input type="text" name="message" id="message" placeholder="write your message" autofocus autocomplete="off">
            <input type="text" id="userId" name="from" hidden value=<%=user._id%>>
            <input type="text" id="friendId" name="to" hidden value=<%=users[0]._id%>>
            <button type="submit">send</button>
        </form>
    </div>
</div>
<!--template to render message-->
<script id="message-template" type="text/template">
    <li class="message">
        <div class="message__title">
            <h4>{{from}}</h4>
            <span>{{createdAt}}</span>
        </div>
        <div class="message__body">
            <p>{{text}}</p>
        </div>
    </li>
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/libs/jquery-3.1.0.min.js"></script>
<script src="/js/libs/moment.js"></script>
<script src="/js/libs/mustache.js"></script>
<script src="/js/libs/deparam.js"></script>
<script src="/js/chat.js"></script>
</body>

</html>
